.panel {
    width: 400px;
    height: 600px;
    padding: 48px;
    background: var(--panel);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    position: absolute;
    right: 48px;
}

.panel-title {
    font-weight: lighter;
}