@import url('https://fonts.googleapis.com/css2?family=Inter');

/* Color variables */
:root {
  --active: #21ac7e;
  --bg: #fff;
  --text: rgb(26, 26, 26);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}