.layout {
    padding: 48px;
}

.title {
    padding-bottom: 48px;
}

.title h1 {
    font-size: 36px;
    line-height: 0.1;
}

.title h2 {
    font-size: 16px;
    line-height: 0;
    color: var(--active);
}

.alert {
    z-index: 200;
    position: absolute;
    top: 48px;
    right: 48px;
}

.authors {
    position: absolute;
    left: 48px;
    bottom: 24px;
}