@import url('https://fonts.googleapis.com/css2?family=Inter');

/* Color variables */
:root {
  --active: #7f64c8;
  --bg: linear-gradient(180deg, #222429 0%, #151516 100%);
  --text: rgb(214, 214, 214);
  --panel-text: #fff;
  --panel-bg: rgba(0, 0, 0, 0.37);

  --road: #ffffff18;
  --building: #ffffff57;
  --start: #47BF34;
  --dest: #BF347F;
  --charge: #3744bd;

  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--bg);
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  color: var(--text);
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}